body {
background-color: tan;
border: 5px double #5C4033;
padding: 50px;
margin: 15px;
font-family: 'Times New Roman', Times, serif;

}

h1 {
    display: flex;
    justify-content: center;
    color: #5C4033;
}

p, a{
    display: flex;
    justify-content: center;
    color: #5C4033;
}
img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 35px;
}


#one {
    font-size: 20px;
    text-align: center;
    color:#5C4033;
    border: 5px double #5C4033;
    margin: 100px;
}

.myclass{
    color: #5C4033;
}


.lists{
    display: flex;
    justify-content: space-evenly;
}

#unordered{
    color:#5C4033;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#ordered{
    color:#5C4033;
    display: flex;
    flex-direction: column;
    justify-content: end;
}


/* .display-style{
    display: inline;
} */

#display-style{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#button{
    background-color: pink;
    margin-left: 50%;
}